- yelp = craft.yelp
- flickr = craft.flickr
- twitter = craft.twitter
- webpage = craft.webpage
- facebook = craft.facebook
- you_tube = craft.you_tube
- google_plus = craft.google_plus

.social-stats
  .cut
    %ul
      / Yelp does not allow agregating or blending of their review count with other information  
      / - if yelp.present?
      /   %li
      /     %img.indicator{src:"/assets/transparent-indicator.png"}
      /     %strong= Util.short_human_number(yelp.review_count)
      /     Yelp reviews

      / - if twitter.present?
      /   %li
      /     %img.indicator{src:"/assets/transparent-indicator.png"}
      /     %strong= Util.short_human_number(twitter.statuses_count)
      /     tweets
      /   %li
      /     %img.indicator{src:"/assets/transparent-indicator.png"}
      /     %strong= Util.short_human_number(twitter.followers_count)
      /     followers
      - if yelp.present?
        %li
          %img.indicator{src:"/assets/transparent-indicator.png"}
          %strong= yelp.rating
          yelp rating
      - if twitter.present?
        %li
          %img.indicator{src:"/assets/transparent-indicator.png"}
          %strong 1-5
          twitter activity
      - if facebook.present?
        %li
          %img.indicator{src:"/assets/transparent-indicator.png"}
          %strong 1-5
          facebook activity
      %li
        %img.indicator{src:"/assets/transparent-indicator.png"}
        %strong 1-5
        local distance
      /  facebook like button already shows # of likes
      / - if facebook.present?
      /   %li
      /     %img.indicator{src:"/assets/transparent-indicator.png"}
      /     %strong= Util.short_human_number(facebook.likes)
      /     FB likes

      / %li
      /   %img.indicator{src:"/assets/transparent-indicator.png"}
      /   %strong= twitter.friends_count
      /   Twitter friends
