%h1 Find A Craft On the Web

%form{action: :"/crafts/find", method: :get}
  %label Search For:
  %input{type: :text, name: :look_for, value: @look_for, placeholder: '@twitter_handle, url or search term'}
  %label Near:
  %input.med{type: :text, name: :near, value: @near, placeholder: 'adress, city, state or zip (optional)'}
  %button{type: :submit}
= link_to 'Back', crafts_path


- if @capture_craft_url.present?
  %div{onclick:"capture_craft('#{@capture_craft_url}')"}
    open @look_for

  :javascript
    function capture_craft(url) {
      capture_url = '/crafts/capture?url='+url
      openNewWindow(capture_url)
    }

    $(capture_craft('#{@capture_craft_url}'));
