%h1 Search for Existing Crafts

%form{action: crafts_path, method: :get}
  %label Search For:
  %input{type: :text, name: :look_for, value: @look_for, placeholder: '@twitter_handle, url or search term'}
  %label Near:
  %input.med{type: :text, name: :place, value: @place, placeholder: 'adress, city, state or zip (optional)'}
  %button{type: :submit}

#wrapper
  #main
    / - if @target_interest[:location][:metro_kw].present? and @target_interest[:location][:metro_kw] != @target_interest[:location][:city_kw]
    - if @crafts.present?
      - @crafts.each do |craft|
        .section
          = render '/crafts/craft', craft: craft
