.craft {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;    
  overflow: hidden;
  width: 888px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
  .canvas {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
        -ms-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    .info-wrapper {
      clear: both;
      display: none;
      overflow: hidden;
      border: 1px solid blue;
    }
    .card {
      clear: both;
      overflow: hidden;
      margin: 4px 4px;
      padding: 4px 8px;
      background-color: rgba(255,255,255,0.88);
      zoom: 1;
      text-shadow: 0 1px 0 white;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
          -ms-border-radius: 6px;
           -o-border-radius: 6px;
              border-radius: 6px;
    border: 1px solid red;
    }
    .profile {
      overflow: hidden;
      border: 1px dotted green;
      .header {
        clear: both;
        margin: 0;
        padding: 0;
        .id {
          height: 56px;
          img.logo {
            float: left;
            margin: 4px;
            width: 48px;
            height: 48px;
            border: 0;
            filter:alpha(opacity=80);
            opacity: 0.80;
            -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                 -o-border-radius: 6px;
                    border-radius: 6px;
          }
          .name-activity {
            float: left;
            height: 56px;
            width: 380px;
            h2.name {
              margin: 0;
              padding: 3px 0 0 0;
              font-size: 28px;
              line-height: 32px;
              font-weight: bold;                
              text-rendering: optimizeLegibility;
              &:hover{ text-decoration: underline; }
            }
            .last-activity {
              display: block;
              img{
                float:left;
                width: 16px;
                height:14px;
                padding: 0;
              }
              span{
                display: inline-block;
                float:left;
                margin: 0;
                padding: 0 0 0 3px;
                color: #0084B4;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
              }
            }
          }
          .yelp{
            float: right;
            height: 32px;
            margin: 3px 0;
            padding: 0px 8px 18px 0;
          }
        }
      }
    }
    p.bio {
      color: #777;
      word-wrap: break-word;
      font: italic 16px/18px Georgia,"Times New Roman",serif;
      .url {
        a {
          color: #0084B4;
          text-decoration: none;
          outline: 0;
          &:hover {
            text-decoration: underline;
          }
          &:active {
            color: #0084B4;
            text-decoration: none;                        
          }
        }
      }
    }
    .location {
      clear:both;
      float:left;      
      width: 550px;
      overflow:hidden;
      padding: 8px;
      .address {
        color: #777;
        font-size: 12px;
        line-height: 18px;
        font-family: "Helvetica Neue",Arial,sans-serif;
      }
      .map {
        float:left;
        width: 550px;
        height:250px;
        border: 2px solid blue;
      }
    }
    .stats {
      float: right;
      margin: 4px 4px 0 8px;
      padding: 0;
      color: #333;
      font-size: 14px;
      font-family: "Helvetica Neue",Arial,sans-serif;
      ul {
        list-style: none;
        padding: 0;
        margin: -10px 0 0 0;
        line-height: 16px;
        border: 0;
        li {
          img.indicator {
            width:14px;
            height:14px;
            border:0;
            outline:0;
            margin: 0px 4px 0px 0px;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
          }
          img.indicator.red {
            background-color: red;
          }
          img.indicator.blue {
            background-color: blue;
          }
          img.indicator.green {
            background-color: green;
          }
          img.indicator.yellow {
            background-color: yellow;
          }
          display: block;
          border: 0;
          color: #999;
          padding: 6px 12px 6px 0;
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
          border-top: 1px solid #E8E8E8;
          strong {
            color: #333;
            font-size: 14px;
            font-weight: bold;                  
          }
        }
      }            
      ul>:first-child {
        border-top: 0;
      }
    }
  }
}
