// sass variables
$content_min_width: 1008px;

$footer_height: 48px;
$content_top: 98px;
$right_column_width: 220px;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family:georgia,garamond,serif;
  background-color: black;
 }

p, li {
}

h1 {
}

h2 {
}

ul {
}

img {
  border: none;
}

input, textarea {
  color: #008;
  font: inherit;
  font-size:20px;
  line-height:30px;
  padding: 8px 10px;
  background: #FAFBFC url(/assets/textures/light00.jpeg);
}
textarea{
  resize: none;
}

#page-wrap {
  background: blue;
  min-width: $content_min_width;
  margin: 0;
  #inside {
  }
}
  
#main-content {
  position:fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow:auto;
  padding-top: $content_top;
  padding-right: ($right_column_width + 10);
  padding-bottom: 88px;
  background: #FAFBFC url(/assets/textures/light02.jpeg);
}
  
#header-wrap {
  position: fixed;
  overflow:hidden;
  width: 100%;
  top:0;
  left:0;
  padding:0;
  margin:0;
  border: 0;
  border-bottom: 3px solid #225;
  text-align: center;
  background:#222 url(/assets/textures/dark02.jpeg);
  z-index: 10000;
  #header {
    min-width: $content_min_width;
    margin: 0;
    h1, h2, .info {
      display: inline-block;
      float:right;
      color: #DDF;
      text-shadow: 0px 1px 1px #4d4d4d;
      margin-bottom: 20px;
    }
    h1 {
      margin-top: 20px;
      line-height: 36px;
      font-size: 36px;
    }
    h2 {
      margin-top: 33px;
      line-height: 20px;
      font-size: 22px;
      margin-right: 12px;
    }
    .info {
      font-style: italic;
      margin-top: 33px;
      line-height: 22px;
      font-size: 22px;
      margin-right: 20px;
    }
  }
}

#locator {
  padding: 0;
  margin: 0;
  overflow: hidden;
  form{
    padding: 0;
    margin: 0;
    overflow: hidden;
    input {
      display: inline-block;
      float:left;
      color: #4D4D4D;
      text-shadow: 0px 1px 1px #222;
      margin: 20px;
      width: 88%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
    }
  }
}

#geomap-wrapper{
  position:fixed;
  top: $content_top;
  left: 700px;
  right:8px;
  bottom: 80px;
  min-width: 300px;
  min-height: 100px;
  .geomap {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
  }
}

#right-sidebar {
  width: $right_column_width;
  float: right;
  padding-left: 15px;
  padding-top: $content_top;
}

#wrapper{
  position:relative;
  width:100%;
  margin: 0;
  padding: 0;
}

.section{
  padding: 12px;
}


.standardNav{
  position: fixed !important;
  overflow: scroll;
  max-width: $right_column_width;
  top: $content_top;
  right: 8px;
  padding: 5px;
  margin: 0;
  max-height: 90%;
  z-index: 9999;
}

.standardNav .bg{
  position: relative !important;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color: yellow;
}

.standardNav {
  ul{
    display: block;
    margin: 0;
    padding: 14px;

    list-style: none;

    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    border-top-left-radius: 8px;

    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background: transparent;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
    li{
      display: block;
      max-width:280px;
      a{
        transition: color 0.4s;
        -moz-transition: color 0.4s;
        -webkit-transition: color 0.4s;
        -o-transition: color 0.4s;

        display: block; 
        font-weight: bold;
        padding: 2px 8px;
        text-decoration: none;
        color: #008;
        font-size: 12px;
        line-height: 18px;
        opacity:0.55;
        filter:alpha(opacity=55); /* For IE8 and earlier */
        &:hover{
          opacity:1;
          filter:alpha(opacity=100); /* For IE8 and earlier */
        }
      } 
    }
    li.active a, li:hover a {
      -webkit-border-top-left-radius: 8px;
      -moz-border-top-left-radius: 8px;
      border-top-left-radius: 8px;

      -webkit-border-bottom-left-radius: 8px;
      -moz-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px;

      -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
      box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);

      color: #008;
      background: #FAFBFC url(/assets/textures/light02.jpeg);

      opacity:1;
      filter:alpha(opacity=100); /* For IE8 and earlier */
    } 
  }
}



#footer-wrap {
  position: fixed;
  overflow:hidden;
  background: #267f23;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  width: 100%;
  min-height: $footer_height;
  bottom:0;
  left:0;
  border-top: 3px solid #225;
  text-align: center;
  background:#222 url(/assets/textures/dark02.jpeg);
  z-index: 10000;
  #footer {
    min-width: $content_min_width;
    margin: 0;
    h1 {
    }
    ul {
      li{

      }
    }
  }
}


/* PAGE LAYOUT STYLES */

// html {margin: 0; padding: 0;}
// body {
//   top:0;
//   left:0;
//   border:0;
//   margin:0;
//   padding:0;
//   width: 100%;
//   height:100%;
//   outline:none;
//   color: #008;
// }

// p, label {
//   font-size: 20px;
//   line-height: 30px;
// }

// p{
//   margin: 0px 0px 8px 0px;
// }
// input, textarea {
//   color: #008;
//   font: inherit;
//   font-size:20px;
//   line-height:30px;
//   padding: 8px 10px;
//   background: #FAFBFC url(/assets/textures/light00.jpeg);
// }
// textarea{
//   resize: none;
// }

// .spacer {
//   height: 16px;
// }
// #main, #header{
//   width: 100%;
//   border: 0;
//   margin: 0;
//   padding:0;
// }

// #main {
//   border: 0;
//   background: #FAFBFC url(/assets/textures/light02.jpeg);
//   padding: 110px 0px;
// }
// #header {
//   position: fixed;
//   top:0;
//   left:0;
//   padding:0;
//   margin:0;
//   border: 0;
//   border-bottom: 3px solid #225;
//   text-align: center;
//   background:#222 url(/assets/textures/dark02.jpeg);
//   z-index: 10000;
// }

// #header h1 {
//   display: inline-block;
//   float:right;
//   color: #DDF;
//   font-size: 36px;
//   line-height: 50px;
//   text-shadow: 0px 1px 1px #4d4d4d;
//   margin: 20px;
// }

// #header h2 {
//   color: #DDF;
//   font-size: 16px;
//   line-height: 24px;
//   margin: 8px 0 16px 0;
// }

// #locator {
//   padding: 0;
//   margin: 0;
//   overflow: hidden;
//   form{
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
//     input {
//       display: inline-block;
//       float:left;
//       color: #DDF;
//       text-shadow: 0px 1px 1px #4d4d4d;
//       margin: 20px;
//       width: 488px;
//       -webkit-border-radius: 10px;
//       -moz-border-radius: 10px;
//       -ms-border-radius: 10px;
//       -o-border-radius: 10px;
//       border-radius: 10px;
//     }
//   }
// }

// .section h2 {
//   font-size: 28px;
//   line-height: 42px;
//   margin: 0;
// }

// /* CSS Entity Conversion Calculator
//   http://www.evotech.net/articles/testjsentities.html */
// a.go:after, a.next:after{ 
//   content: "  \25BA "; /* &#9658; */
// }
// a.back:before, a.prev:before{ 
//   content: "\25C4  "; /* &#9668; */ 
// }

// .prompt,.prompt-action {
//   border: 0;
//   margin: 0 0 12px 0; 
//   padding: 12px 20px 20px 20px;

//   -webkit-border-radius: 12px;
//   -moz-border-radius: 12px;
//   -ms-border-radius: 12px;
//   -o-border-radius: 12px;
//   border-radius: 12px;

//   -webkit-box-shadow: 6px 8px 0px 0px rgba(0, 0, 0, .3);
//   -moz-box-shadow: 6px 8px 0px 0px rgba(0, 0, 0, .3);
//   box-shadow: 6px 8px 0px 0px rgba(0, 0, 0, .3);
// }

// .prompt-action h2, .prompt-action label{
//   color: #800;
// }

// .prompt{
//   background: #FAFBFC url(/assets/textures/light02.jpeg);
// }
// .prompt-action {
//   background:#ff0 url(/assets/textures/yellow00.jpeg);
// }
// .hint {
//   color: #888;
//   font-size: 20px;
//   line-height: 30px;
//   margin: 4px 0px;
// }

// .social-signin {
//   margin:8px 0px;
//   padding:4px;
// }
// .toolbar {
//   overflow: hidden;
//   width: 98%;
//   border: 0;
//   padding: 0;
//   padding-top: 0px;
//   margin: 0px; 
//   margin-top: 12px;
//   background-color: transparent;
// }
// .left{
//   float:left;
// }
// .right{
//   float:right;
// }

// ol li {
//   font-size:22px;
//   line-height:28px;
//   list-style-type: upper-alpha;
//   margin-bottom: 8px;
// }

// li input {
//   width: 95%;
// }

// li.answer .wrong, li.answer .right {
//   height:25px;
//   width:25px;
//   display: inline-block;
//   margin-left: -62px;
//   margin-right: 35px;
//   background-image: url(./check.gif);
//   background-repeat:no-repeat;
//   background-size: 25px 25px;    
//   background-position:center left;
// }
// li.answer .wrong {
//   opacity:0.08;
//   filter:alpha(opacity=08); /* For IE8 and earlier */    
// }
// li.answer:hover .wrong {
//   opacity:0.4;
//   filter:alpha(opacity=40); /* For IE8 and earlier */    
// }
// li.answer:active .wrong {
//   opacity:0.8;
//   filter:alpha(opacity=80); /* For IE8 and earlier */    
// }
// li.answer .right {
//   opacity:1;
//   filter:alpha(opacity=100); /* For IE8 and earlier */    
// }

// #wrapper{
//   position:relative;
//   width:100%;
//   margin: 0;
//   padding: 0;
// }

// .section{
//   padding: 12px;
// }

// .section.center{
//   min-height: 500px;
//   padding: 200px 230px;
//   text-align: center;
// }

// /* NAVIGATION STYLES */

// .standardNav{
//   position: fixed !important;
//   overflow: scroll;
//   top: 5%;
//   right: 8px;
//   padding: 5px;
//   margin: 0;
//   max-height: 90%;
//   z-index: 9999;
// }

// .standardNav .bg{
//   position: relative !important;
//   top: 0;
//   left: 0;
//   width:100%;
//   height:100%;
//   background-color: yellow;
// }

// .standardNav ul{
//   display: block;
//   margin: 0;
//   padding: 14px;

//   list-style: none;

//   -webkit-border-top-left-radius: 8px;
//   -moz-border-top-left-radius: 8px;
//   border-top-left-radius: 8px;

//   -webkit-border-bottom-left-radius: 8px;
//   -moz-border-bottom-left-radius: 8px;
//   border-bottom-left-radius: 8px;

//   background: transparent;
//   -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
//   -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
//   box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);

// }

// .standardNav li{
//   display: block;
//   max-width:280px;
// }

// .standardNav li a{
//   transition: color 0.4s;
//   -moz-transition: color 0.4s;
//   -webkit-transition: color 0.4s;
//   -o-transition: color 0.4s;

//   display: block; 
//   font-weight: bold;
//   padding: 8px 8px;
//   text-decoration: none;
//   color: #008;
//   font-size: 16px;
//   line-height: 22px;
//   opacity:0.55;
//   filter:alpha(opacity=55); /* For IE8 and earlier */
// } 

// .standardNav li a:hover{
//   opacity:1;
//   filter:alpha(opacity=100); /* For IE8 and earlier */
// }

// .standardNav li.active a{
//   -webkit-border-top-left-radius: 8px;
//   -moz-border-top-left-radius: 8px;
//   border-top-left-radius: 8px;

//   -webkit-border-bottom-left-radius: 8px;
//   -moz-border-bottom-left-radius: 8px;
//   border-bottom-left-radius: 8px;

//   -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
//   -moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
//   box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);

//   color: #008;
//   background: #FAFBFC url(/assets/textures/light02.jpeg);
//   opacity:1;
//   filter:alpha(opacity=100); /* For IE8 and earlier */
//  } 

// /* bg button image styles 
// ---------------------------------------------- */

// div.button, a.button {
//   display: inline-block;
//   zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
//   *display: inline;
//   outline: none;
//   text-align: center;
//   text-decoration: none;
//   -webkit-border-radius: 8px; 
//   -moz-border-radius: 8px;
//   border-radius: 8px;

//   transition: all 0.1s;
//   -moz-transition: all 0.1s;
//   -webkit-transition: all 0.1s;
//   -o-transition: all 0.1s;

// }

// div.button {
//   vertical-align: baseline;
//   margin: 8px 8px 12px 0px;
//   background-color: white;
//   border: 2px solid #ddd;
//   border:0;
//   padding: 0 2px 7px 2px;
//   text-shadow: 0 1px 1px rgba(0,0,0,.3);
//   -webkit-box-shadow: 8px 8px 0px rgba(0,0,0,.2);
//   -moz-box-shadow: 8px 8px 0px rgba(0,0,0,.2);
//   box-shadow: 8px 8px 0px rgba(0,0,0,.2);
// }

// div.button a.button{
//   z-index: 1;
//   color: white;
//   font-weight: 400;
//   font-family: ProximaNovaBold, "Arial Black", sans-serif;
//   line-height: 1.4em;
//   vertical-align: baseline;
//   cursor: pointer;
//   border: 2px solid #ddd;
//   border:0;
//   padding: 12px 20px;
// }
// div.button a.button{
//   margin: -2px 0 0 0;
//   text-shadow: 2px 2px 0px rgba(0,0,0,.3);
//   -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,.2);
//   -moz-box-shadow: 0px 4px 0px rgba(0,0,0,.2);
//   box-shadow: 0px 4px 0px rgba(0,0,0,.2);
// }

// .button a.button:hover{
//   margin: -6px 0 4px 0;
//   text-shadow: 3px 3px 0px rgba(0,0,0,.3);
//   -webkit-box-shadow: 0px 8px 0px rgba(0,0,0,.2);
//   -moz-box-shadow: 0px 8px 0px rgba(0,0,0,.2);
//   box-shadow: 0px 8px 0px rgba(0,0,0,.2);
// }

// .button a.button:active{
//   margin: 2px 0 -4px 0;
//   text-shadow: -2px -2px 0px rgba(0,0,0,.3);
//   -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.2);
//   -moz-box-shadow: 0px 1px 0px rgba(0,0,0,.2);
//   box-shadow: 0px 1px 0px rgba(0,0,0,.2);
// }

// a.button {
//   background-color: gray;
// }

// a.button.blue {
//   border: solid 1px #008;
//   background-color: #00b;
//   background: -webkit-gradient(linear, left top, left bottom, from(#22c), to(#00b));
//   background: -webkit-linear-gradient(top, #22c, #00b);
//   background:    -moz-linear-gradient(top, #22c, #00b);
//   background:     -ms-linear-gradient(top, #22c, #00b);
//   background:      -o-linear-gradient(top, #22c, #00b);
//   background:         linear-gradient(top, #22c, #00b);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#22c, endColorstr=#00b);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#22c, endColorstr=#00b)";
// }

// a.button.red {
//   border: solid 1px #800;
//   background-color: #b00;
//   background: -webkit-gradient(linear, left top, left bottom, from(#c22), to(#b00));
//   background: -webkit-linear-gradient(top, #c22, #b00);
//   background:    -moz-linear-gradient(top, #c22, #b00);
//   background:     -ms-linear-gradient(top, #c22, #b00);
//   background:      -o-linear-gradient(top, #c22, #b00);
//   background:         linear-gradient(top, #c22, #b00);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c22, endColorstr=#b00);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#c22, endColorstr=#b00)";
// }

// a.button.green {
//   border: solid 1px #080;
//   background-color: #0b0;
//   background: -webkit-gradient(linear, left top, left bottom, from(#2c2), to(#0b0));
//   background: -webkit-linear-gradient(top, #2c2, #0b0);
//   background:    -moz-linear-gradient(top, #2c2, #0b0);
//   background:     -ms-linear-gradient(top, #2c2, #0b0);
//   background:      -o-linear-gradient(top, #2c2, #0b0);
//   background:         linear-gradient(top, #2c2, #0b0);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2c2, endColorstr=#0b0);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#2c2, endColorstr=#0b0)";
// }

// a.button.teal {
//   border: solid 1px #088;
//   background-color: #0bb;
//   background: -webkit-gradient(linear, left top, left bottom, from(#2cc), to(#0bb));
//   background: -webkit-linear-gradient(top, #2cc, #0bb);
//   background:    -moz-linear-gradient(top, #2cc, #0bb);
//   background:     -ms-linear-gradient(top, #2cc, #0bb);
//   background:      -o-linear-gradient(top, #2cc, #0bb);
//   background:         linear-gradient(top, #2cc, #0bb);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2cc, endColorstr=#0bb);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#2cc, endColorstr=#0bb)";
// }

// a.button.yellow {
//   border: solid 1px #880;
//   background-color: #bb0;
//   background: -webkit-gradient(linear, left top, left bottom, from(#cc2), to(#bb0));
//   background: -webkit-linear-gradient(top, #cc2, #bb0);
//   background:    -moz-linear-gradient(top, #cc2, #bb0);
//   background:     -ms-linear-gradient(top, #cc2, #bb0);
//   background:      -o-linear-gradient(top, #cc2, #bb0);
//   background:         linear-gradient(top, #cc2, #bb0);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cc2, endColorstr=#bb0);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cc2, endColorstr=#bb0)";
// }

// a.button.purple {
//   border: solid 1px #808;
//   background-color: #b0b;
//   background: -webkit-gradient(linear, left top, left bottom, from(#c2c), to(#b0b));
//   background: -webkit-linear-gradient(top, #c2c, #b0b);
//   background:    -moz-linear-gradient(top, #c2c, #b0b);
//   background:     -ms-linear-gradient(top, #c2c, #b0b);
//   background:      -o-linear-gradient(top, #c2c, #b0b);
//   background:         linear-gradient(top, #c2c, #b0b);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c2c, endColorstr=#b0b);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#c2c, endColorstr=#b0b)";
// }

// a.button.gray {
//   color: black;
//   border: solid 1px #222;
//   background-color: #666;
//   background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));
//   background: -webkit-linear-gradient(top, #888, #666);
//   background:    -moz-linear-gradient(top, #888, #666);
//   background:     -ms-linear-gradient(top, #888, #666);
//   background:      -o-linear-gradient(top, #888, #666);
//   background:         linear-gradient(top, #888, #666);
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#888, endColorstr=#666);
//   -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#888, endColorstr=#666)";
// }

// a.button.orange {
//   border: solid 1px #D94E3B;
//   background: #F36652;
//   background: -webkit-gradient(linear, left top, left bottom, from(#F36652), to(#E2533F));
//   background: -webkit-linear-gradient(top, #F36652, #E2533F);
//   background:    -moz-linear-gradient(top, #F36652, #E2533F);
//   background:     -ms-linear-gradient(top, #F36652, #E2533F);
//   background:      -o-linear-gradient(top, #F36652, #E2533F);
//   background:         linear-gradient(top, #F36652, #E2533F);
// }



// .button.center {
//   margin-left: auto;
//   margin-right: auto;
// }

// .button.primary {
//   color: #cba;
//   border: solid 1px #222;
//   background-image: url(./primary.jpeg);
//   font: 18px 'LeagueGothicRegular';    
//   letter-spacing:1px;
// }
// .button.primary:hover {
//   color: #fff;
// }
// .button.primary:active {
//   color: #cba;
// }

// .button.primary.next {
//   color: #f00;
//   font-weight: bold;
// }
// .button.primary.next:hover {
//   color: #fff;
// }
// .button.primary.next:active {
//   color: #f00;
// }
