.intent-to-follow-on-twitter {
  display: inline-block;
  margin:  0 0 0 4px;
  padding: 0 0 0 0;
}
.section {

  .tweeter {
    width: 888px;
    margin: 0 auto;
    padding: 12px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
        -ms-border-radius: 8px;
         -o-border-radius: 8px;
            border-radius: 8px;
    .canvas {
      width: 750  px;
      padding: 8px;
      margin: 8px auto;
      background: url(/assets/twitter-wash-white-30.png);
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
          -ms-border-radius: 6px;
           -o-border-radius: 6px;
              border-radius: 6px;
      .card {
        clear: both;
        margin: 0;
        background-color: white;
        zoom: 1;
        color: #333;
        font-size: 14px;
        line-height: 16px;
        font-family: "Helvetica Neue",Arial,sans-serif;
        text-shadow: 0 1px 0 white;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
            -ms-border-radius: 6px;
             -o-border-radius: 6px;
                border-radius: 6px;
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding-box;
            -ms-background-clip: padding-box;
             -o-background-clip: padding-box;
                background-clip: padding-box;
              }
      .profile.card {
        .header {
          padding: 12px;
          .profile {
            overflow: hidden;
            img {
              float: left;
              margin: 8px 0 0 8px;
              width: 128px;
              height: 128px;
              border: 0;
              filter:alpha(opacity=80);
              opacity: 0.80;
              -webkit-border-radius: 6px;
                 -moz-border-radius: 6px;
                  -ms-border-radius: 6px;
                   -o-border-radius: 6px;
                      border-radius: 6px;
            }
            .id {
              float: left;
              width: 50%;
              margin: 0 0 0 12px;
              h2.fullname {
                width: 100%;
                font-weight: bold;                
                font-size: 30px;
                line-height: 1;
                margin: 0 0 2px 0;
                text-rendering: optimizeLegibility;
              }
              h3.username {
                s {
                  color: #BBB;
                  text-decoration: none;
                  font-size: 18px;
                  line-height: 24px;
                }
                color: #777;                
                font-size: 18px;
                font-weight: normal;
                line-height: 24px;
                margin: 0 0 1px 0;
                font-family: 'Helvetica Neue', Arial, sans-serif;
              }
              p.bio {
                color: #777;
                word-wrap: break-word;
                font: italic 13px/18px Georgia,"Times New Roman",serif;
              }
              .location-and-url {
                color: #777;
                font-size: 12px;
                line-height: 18px;
                font-family: "Helvetica Neue",Arial,sans-serif;
                .url {
                  a {
                    color: #0084B4;
                    text-decoration: none;
                    outline: 0;
                    &:hover {
                      text-decoration: underline;
                    }
                    &:active {
                      color: #0084B4;
                      text-decoration: none;                        
                    }
                  }
                }
              }
            }
            .stats {
              float: right;
              margin: 4px 4px 0 8px;
              padding: 0;
              color: #333;
              font-size: 14px;
              font-family: "Helvetica Neue",Arial,sans-serif;
              ul {
                list-style: none;
                padding: 0;
                margin: -10px 0 0 0;
                line-height: 16px;
                border: 0;
                li {
                  img.indicator {
                    width:14px;
                    height:14px;
                    border:0;
                    outline:0;
                    margin: 0px 4px 0px 0px;

                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                  }
                  img.indicator.red {
                    background-color: red;
                  }
                  img.indicator.blue {
                    background-color: blue;
                  }
                  img.indicator.green {
                    background-color: green;
                  }
                  img.indicator.yellow {
                    background-color: yellow;
                  }
                  display: block;
                  border: 0;
                  color: #999;
                  padding: 6px 12px 6px 0;
                  font-size: 10px;
                  line-height: 16px;
                  text-transform: uppercase;
                  border-top: 1px solid #E8E8E8;
                  strong {
                    color: #333;
                    font-size: 14px;
                    font-weight: bold;                  
                  }
                  .yelp {
                    .ratings {
                      display: inline-block;
                      cursor: pointer;
                      img {
                        display: inline-block;
                        width: 84px;
                        height: 17px;
                        margin: 0;
                        padding: 0;
                        background-color: transparent;
                      }
                    }
                    .logo {
                      margin: 0 0 0 2px;
                      display: inline-block;
                    }
                  } 
                }
              }            
              ul>:first-child {
                border-top: 0;
              }
            }
          }
        }
      }
    }
  }
}