.yelp_mini_map_logo {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-size:40px 20px;
  background: transparent url('/assets/yelp/miniMapLogo.png') no-repeat center center;
  margin: 0;
  padding: 0;
}
.yelp_logo_50x25 {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-size:50px 25px;
  background: transparent url('/assets/yelp/yelp_logo_50x25.png') no-repeat center center; 
} 
.yelp_logo_75x38 {
  display: inline-block;
  width: 75px;
  height: 38px;
  background-size:75px 38px;
  background: transparent url('/assets/yelp/yelp_logo_75x38.png') no-repeat center center; 
} 
.yelp_logo_100x50 {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-size:100px 50px;
  background: transparent url('/assets/yelp/yelp_logo_100x50.png') no-repeat center center; 
} 
