.yelp {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  height: 56px;
  cursor: normal;
  .logo {
    float: left;
    clear:both;
    display: inline-block;
    margin: 0;
    padding: 2px 4px 0 0;
    border: 0;
    height: 25px;
  }
  .rating-reviews {
    padding: 0;
    margin: 0;
    overflow: hidden;
    .rating {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      height: 35px;
      img.star.rating {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
        height: 30px;
        width: 166px;
        background-color: transparent;
      }
    }
    .reviews {
      float: left;
      display: block;
      margin: 0 3px;
      padding: 0;
      border: 0;
      color: #999;
      font-size: 14px;
      line-height: 14px;
    }
  }
}



a.yelp_mini_map_logo {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-size:40px 20px;
  background: transparent url('/assets/yelp/miniMapLogo.png') no-repeat center center;
  margin: 0;
  padding: 0;
}
a.yelp_logo_50x25 {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-size:50px 25px;
  background: transparent url('/assets/yelp/yelp_logo_50x25.png') no-repeat center center;
} 
a.yelp_logo_75x38 {
  display: inline-block;
  width: 75px;
  height: 38px;
  background-size:75px 38px;
  background: transparent url('/assets/yelp/yelp_logo_75x38.png') no-repeat center center; 
} 
a.yelp_logo_100x50 {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-size:100px 50px;
  background: transparent url('/assets/yelp/yelp_logo_100x50.png') no-repeat center center; 
} 
